.university {
  padding: 100px 0px;
  @include breakpoints-down(medium) {
    padding: 100px 15px;
  }
  &__caption {
    h2 {
      color: $primary;
    }
    > div {
      margin: 25px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include breakpoints-down(medium) {
        flex-direction: column;
      }
      > p {
        max-width: 720px;
      }
    }
  }
  &_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include breakpoints-down(medium) {
      grid-template-columns: 1fr;
    }
    gap: 50px;
    height: fit-content;
    h3 {
      font-size: 1.8rem;
      color: #252c3a;
      margin-bottom: 15px;
    }
  }
}
